
 @import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');
 @import url('https://fonts.googleapis.com/css?family=Roboto');
 @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

    @media (min-width: 350px){
        body{
            background-color: rgba(173, 216, 230, 0.2);
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            list-style: none;
            margin:0;
            line-height: 40px;
            text-decoration: none;
           
            /*width:100vw;*/
         }
    
        h1{font-weight: 550;
            text-align: center;
            font-size: 45px; 
            margin: auto;
           line-height: 45px;}
            
        h2{font-weight: 550;
            text-align: center;
            font-size: 35px; 
            margin: auto;
            line-height: 45px;}

        p{text-align: justify;
        text-indent:25px;}
        a{text-decoration: none;
        color:black;
        font-weight: 550;}




    .main_menu{
        height: 250px;
        width: 350px;
        background:rgba(255, 255,255, 0.9);
        margin: 0 0 0 20%;
        top:-190px;
        right:-290px;
        position: fixed;
        transition: .5s;
        z-index: 100;
    }
    .btn{
        position: absolute;
        height: 60px;
        width: 60px;
        top: 190px;
        right:340;
        margin-top: 0;
       /*background-color: chartreuse;*/
         
    }
    .Ibtn{
        position: absolute;
        height: 60px;
        width: 60px;
        margin-top: 0;}
    
    .menu_is-open{
        top: 0;
        right:0;
    }

    .bt{text-align: center;
         margin:0; 
        box-sizing: border-box;
        display: inline-block;
        height: 100px;
        width: 150px; 
        padding: 5px;
        color:black;
        vertical-align:top;
       line-height: 30px;
    }
    .bt:active{background: rgba(74, 168, 177, 0.4);
    color:black;}

     .bt:hover {background: rgba(74, 168, 177, 0.4);
    color:black;}

    ul{list-style: none;
        text-decoration: none;}

    
    
    
    header{

        background: rgb(173, 216, 230);
        /*background: linear-gradient(45deg, #6d76ff,#EECFBA );*/
        margin:0;
        box-shadow:-2px -2px 30px black;}

    .screen{box-sizing: border-box;
        color:white;
        text-shadow: 2px 2px 5px black;
        font-family: 'Montserrat Alternates', sans-serif;
        text-align: center;
        font-weight: bolder;
        font-size: 50px;
        padding-top:60px;
       /* position: relative;*/
        height:270px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        margin:0;
        
        animation: change 30s linear infinite; 
       box-shadow: inset -2px -2px 20px black;
      
    }
    .title{
        color:white;
        text-shadow: 2px 2px 5px black;
        font-family: 'Montserrat Alternates', sans-serif;
        text-align: center;
        font-weight: bolder;
        font-size: 50px;
        padding-top:60px; 
        padding-bottom:60px; 
    line-height: 50px;}

@keyframes change{
    0%{background-image: url(http://www.eraaconsulting.co.uk/wp-content/uploads/2016/10/london.jpg);}
    30%{background-image: url(http://www.eraaconsulting.co.uk/wp-content/uploads/2016/10/london.jpg);}
    33%{background-image: url(http://www.stihi.ru/pics/2018/02/10/7960.jpg);} 
    60%{background-image: url(http://www.stihi.ru/pics/2018/02/10/7960.jpg);}     
    63%{background-image:url(http://s00.yaplakal.com/pics/pics_original/1/9/2/9863291.jpg);}
    96%{background-image:url(http://s00.yaplakal.com/pics/pics_original/1/9/2/9863291.jpg);}
    100%{background-image:url(http://www.eraaconsulting.co.uk/wp-content/uploads/2016/10/london.jpg);}}

 /* #Navigation{
    background-image: url(./images/city.svg);
    background-position:-12% 100%;*/
    
  }   
.Page_nav{ box-sizing: border-box;
    text-decoration:none;
    display: inline-block;
    height:50px;
    width:280px;
    text-align:center;
  padding:5px;
    color:black;
    background-color:white;
    font-weight:500;
    box-shadow: -2px 2px 5px darkslategrey;
   line-height: 50px;
   margin-bottom: 5px;
    
    }
    .Page_nav:active{
        background: rgba(74, 168, 177, 0.4);
    }
    .Page_nav:hover{
        background: rgba(74, 168, 177, 0.4);
   }
    .vnach{display: block;}


.line{
        height: 2px;
        width: 100px;
     background: #000;
     margin: auto;
     transition: 1s;
    }
    .l1{margin-bottom: 10px;
    margin-top: 30px;}  
 .l2{margin-bottom: 15px;
    margin-top: 10px;}
header:hover .line {
    width:150px;
}
.absite:hover .line {
    width:250px;
}
.gal:hover .line {
    width:150px;
}
.text:hover .line {
    width:400px;
}


.absite{
    box-sizing: border-box;
    padding:20px;
}
.gal{background-color:white;
box-shadow: -2px -2px 10px slategrey,2px 2px 10px slategrey;
    box-sizing: border-box;
    padding:5px;
    margin-top: 30px;
}  



.image{
        height:200px ;
        width: 350px;
        background:lightgreen;
        display: inline-block;
      transition: .5s;
      border-radius: 10px;
      margin-bottom: 40px;
      vertical-align: top;
    }
    /*.image:hover{
       transform: scale(2);
    }*/
    img{height:200px;
        width: 350px;
        border-radius: 10px;}
   .im1::after{
    position: relative;
    bottom: 18px;
    right:-12px;
        font-size: 25px;
        content: 'Петропавловcкая крепость';}
        
    .im2::after{
      position: relative;
    bottom: 18px;
    right:-70px;
    font-size: 25px;
    content: 'Медный всадник';
    }

 .im3::after{
    position: relative;
    bottom: 18px;
    right:-112px;
    font-size: 25px;
    content: 'Эрмитаж';
    }

    .im4::after{
        position: relative;
    bottom: 18px;
    right:-120px;
    font-size: 25px;
    content: 'Биг Бен';
    }
    .im5::after{
    position: relative;
    bottom: 18px;
    right:-49px;
    font-size: 25px;
    content: 'Лондонский мост';
    }
    .im6::after{
    position: relative;
    bottom: 18px;
    right:-49px;
    font-size: 25px;
    content: 'Лондонский Тауэр';
    }
    .im7::after{
    position: relative;
    bottom: 18px;
    right:-14px;
    font-size: 25px;
    content: 'Площадь Святого Марка';
    }
    .im8::after{
    position: relative;
    bottom: 18px;
    right:-42px;
    font-size: 25px;
    content: 'Собор Санта-Мария';
    }
    .im9::after{
    position: relative;
    bottom: 18px;
    right:-70px;
    font-size: 25px;
    content: 'Дворец дождей';
    }

     footer{
        height: 130px;
        background:lightgreen;
        /*background-image: url(./images/city.svg);*/
        padding: 20px;
        margin-top:15px;
        font-size: 20px;
        text-align: center;
        box-shadow:2px 2px 15px black;

    }



/*ВАРИАЦИИ НА ТЕМУ ТЕЛЕФОН*/
@media(min-width:400px){
    .Page_nav{
    width:370px;
    }
   }
   
   @media(min-width:500px){
    .Page_nav{ 
    width:450px;
    }
   }
   @media(min-width:600px){
    .Page_nav{ 
    width:550px;
    }
   }
   @media(min-width:700px){
    .Page_nav{ 
    width:600px;
    }
   }
   
   
 /*ПЛАНШЕТИКИ*/
    @media(min-width:768px){
        h1{font-weight: bold;}
        h2{font-weight: bold;}
        a{font-weight: bold;}
        .Page_nav{ 
width:680px;
}
    
    .image:hover{
       transform: scale(1.5);
    }
    .image{
        height:200px ;
        width: 330px;
       
    }
    img{height:200px;
        width: 330px;}
    .absite{
    padding:20px 50px;
}
.gal{
    padding:50px;
}
.screen{height: 50vh;
    padding-top:150px;
   } 
.title{
    font-size: 60px;
    line-height: 60px;
} 
    }


    @media(min-width:1024px){
    .Page_nav{ 
    width:310px;
    }
    .absite{
    padding:20px 100px;
}
.gal{
    padding:20px 100px;
}
.image{
        height:250px ;
        width: 405px;}
    img{height:250px;
        width: 405px;}  
   
.screen{height: 70vh;
    padding-top: 320px;
    }
        .title{
            font-size: 70px;
            line-height: 70px;
        } }



/*КОМП*/
   @media(min-width:1366px){
    .image{
        height:250px ;
        width: 375px;
       
    }
    img{height:250px;
        width: 375px;}  
   
   .Page_nav{ 
    width:420px;
    height: 70px;
    padding:10px;
    font-size: 30px;
    }
    .screen{
        height: 85vh;
       
        padding-top: 380px;   
    }
   /* .title{
        font-size: 80px;
        line-height: 80px;
    } */
    h1{
       font-size: 50px;
       line-height:50px;
   }}
   
   
